.Todo {
  align-items: center;
  font-size: larger;
  background-color: white;
  width: 30%;
  padding: 5px;
  border-radius: 10px;
  margin: auto;
  min-width: fit-content;
  text-align: center;
  margin-top: 2%;

}

.Todo img {
  width: 25%;
}

.Todo h1,h4 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
}
p{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 15px;
}

input,
.boton {
  /* Por alguna razon button no aplica a todos los botones... idk */
  height: fit-content;
  height: 30px;
  width: 350px;
  border-radius: 10px;
  background-color: #9b9b9b;
  
  
}
.login{
  margin-top: 4%;
  height: fit-content;
  width: 100px;
  height: 35px;
  border-radius: 10px;
  background-color: #0c7489;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #040404;
  
}



.texto {
  text-align: 'center';
  padding-top: '10px';

  

}


.registro{
  margin-top: 1%;
  height: fit-content;
  width: 100px;
  height: 25px;
  border-radius: 10px;
  background-color: #9cd7e3;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #040404;
  margin-bottom: 3%;
  
}

.codigo img {
  width: 185px;
  text-align: 'center';
}

.input-error {
  border: 2px solid red;
}

.mensaje-error{
  color: red;
  font-size: 12px;
  margin-top: 5px;
}