.tarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
    gap: 10px;
}
.hora{
    color: white;
    margin: auto;
    margin-left: 1000px;
    
}
.icono{
    height: 70px;
    filter: invert(1);
    margin-right: 5px;
}