.tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
    gap:15px;
    filter: drop-shadow(10px);
}
.donut-chart {
    width: 150px; /* Tamaño del gráfico más pequeño */
    height: 150px;
    margin: 0 auto; /* Centra el gráfico dentro de la tarjeta */
}
.tarjeta-asistencias {
    max-width: 300px; 
    height: auto; 
    margin: 0 auto; 
}


.icono {
    height: 70px;
    filter: invert(1);
    margin-right: 5px;
}

.row > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.tarjeta {
    height: 100% !important;
    max-width: 100%;
    margin: 0;
    
}

.tarjeta-QR {
    align-items: center !important;
    height: 100% !important;
    
}

.tarjeta-QR img{
    width: 100%;
    height: 100% ;
}

@media (max-width: 768px) {
    .tarjetas {
        flex-direction: column; 
        align-items: center; 
    }

    .tarjeta, .tarjeta-QR {
        max-width: 90%;
        margin-bottom: 20px;
    }

    .icono {
        height: 50px;
    }
    .tarjeta-asistencias {
        max-width: 90%; /* Ajusta el tamaño en móviles */
    }

    .donut-chart {
        width: 150px; /* Tamaño más pequeño del gráfico en móviles */
        height: 150px;
    }
}

