.Todo{
  font-size: larger;
  
}
input, .boton{
  height: 20px;
}

.texto{
        text-align: 'center';
        padding-top: '10px';
        
    }
    
.codigo{
      
      padding: '10px';
      text-align: 'center';
    }